div.login-form {
  width: 20%;
  height: 70%;
  border: 2px solid black;
  padding: 5%;
  margin: 25px;
}

input.form-control[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.btnlogin {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

//page2
div.submit-form {
  width: 20%;
  height: 70%;
  border: 2px solid black;
  padding: 5%;
  margin: 25px;
}

form.ad-des {
  width: 80%;
  height: 70%;
  padding: 5%;
  margin: 25px;
}

input.adtxtbx {
  width: 100%;
  padding: 10% 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button.btnsubmit {
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

h1.sub-des{
	text-align: center;
}

//page 3
div #page3{
  text-align: center;
  border: 3px solid green;
}
